{{header}}
{{column_left}}
<div id="content">
   <div class="page-header">
      <div class="container-fluid">
         <div class="pull-right">
            <button type="submit" form="form" data-toggle="tooltip" title="{{button_save}}" class="btn btn-primary"><i class="fa fa-save"></i></button>
            <a href="{{cancel}}" data-toggle="tooltip" title="{{button_cancel}}" class="btn btn-default"><i class="fa fa-reply"></i></a>
         </div>
         <h1>{{heading_title}}</h1>
         <ul class="breadcrumb">
            {% for breadcrumb in breadcrumbs %}
            <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
            {% endfor %}
         </ul>
      </div>
   </div>
   <div class="container-fluid">
      {% if error_warning %} 
      <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> 
         {{error_warning}}
         <button type="button" class="close" data-dismiss="alert">&times;</button>
      </div>
      {% endif %}
      <div class="panel panel-default">
         <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-pencil"></i>{{text_edit}}</h3>
         </div>
         <div class="panel-body">
            <form action="{{action}}" method="post" enctype="multipart/form-data" id="form" class="form-horizontal">
               <ul class="nav nav-tabs">
                  <li class="nav-item active">
                     <a class="nav-link active" data-toggle="tab" href="#ocnp_main_settings">{{ocnp_text_main_settings}}</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" data-toggle="tab" href="#ocnp_api_settings">{{ocnp_text_api_settings}}</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" data-toggle="tab" href="#ocnp_cost_settings">{{ocnp_text_cost_settings}}</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" data-toggle="tab" href="#ocnp_sync_settings">{{ocnp_text_sync_settings}}</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" data-toggle="tab" href="#ocnp_support_tab">{{ocnp_text_support_tab}}</a>
                  </li>
               </ul>
               <div class="tab-content">
                  <div class="tab-pane fade active in" id="ocnp_main_settings">
                     <div class="form-group">
                        <label class="col-sm-2 control-label" for="input-field">{{ocnp_entry_name}}</label>
                        <div class="col-sm-10">
                           {% for language in languages %}
                              <div class="input-group">
                                 <span class="input-group-addon">
                                    <img src="language/{{ language.code }}/{{ language.code }}.png" title="{{ language.name }}"/>
                                 </span>
                                 <input type="text" name="name[{{ language.language_id }}]" 
                                       value="{{ attribute(name, language.language_id) }}" class="form-control"/>
                              </div>
                           {% endfor %}
                        </div>
                     </div>
                     <div class="form-group">
                        <label class="col-sm-2 control-label" for="input-field">{{entry_status}}</label>
                        <div class="col-sm-10">
                           <select class="form-control" name="status">
                              {% if status %}
                              <option value="1" selected="selected">{{text_enabled}}</option>
                              <option value="0">{{text_disabled}}</option>
                              {% else %}
                              <option value="1">{{text_enabled}}</option>
                              <option value="0" selected="selected">{{text_disabled}}</option>
                              {% endif %}
                           </select>
                        </div>
                     </div>
                     <div class="form-group">
                        <label class="col-sm-2 control-label" for="input-field">{{ocnp_entry_sort_order}}</label>
                        <div class="col-sm-10">
                           <input class="form-control" type="text" name="sort_order" value="{{sort_order}}" size="1" />
                        </div>
                     </div>
                  </div>
                  <div class="tab-pane fade" id="ocnp_api_settings">
                     <div class="form-group required">
                        <label class="col-sm-2 control-label" for="input-field">{{entry_api_url}}</label>
                        <div class="col-sm-10">
                           <input class="ocnp_api_settings__url form-control" type="text" name="api_url" value="{{api_url}}" />
                           {% if error_api_url %}
                           <div class="text-danger">{{text_error_api_url}}</div>
                           {% endif %}
                        </div>
                     </div>
                     <div class="form-group required">
                        <label class="col-sm-2 control-label" for="input-field">{{entry_api_key}}</label>
                        <div class="col-sm-10">
                           <input class="ocnp_api_settings__key form-control" type="text" name="api_key" value="{{api_key}}" />
                           {% if error_api_key %}<div class="text-danger">{{text_error_api_key}}</div>{% endif %}
                           <p>{{ocnp_api_tab_key_link}}<br>{{ocnp_api_tab_key_instruction}}</p>
                        </div>
                     </div>
                  </div>
                  <div class="tab-pane fade" id="ocnp_cost_settings">
                     <div class="form-group">
                        <label class="col-sm-2 control-label" for="input-field">{{entry_fixed_price}}</label>
                        <div class="col-sm-10">
                           <input class="form-control" type="text" name="fixed_price" value="{{fixed_price}}" />
                        </div>
                     </div>
                     <div class="form-group">
                        <label class="col-sm-2 control-label" for="input-field">{{entry_free_delivery}}</label>
                        <div class="col-sm-10">
                           <input class="form-control" type="text" name="free_delivery" value="{{free_delivery}}" />
                        </div>
                     </div>
                  </div>
                  <div class="tab-pane fade" id="ocnp_sync_settings">
                     <div class="table-responsive">
                        <table class="table table-bordered table-hover">
                           <thead>
                              <tr>
                                 <td class="text-center">{{ocnp_text_sync_table_type}}</td>
                                 <td class="text-center">{{ocnp_text_sync_table_date}}</td>
                                 <td class="text-center">{{ocnp_text_sync_table_count}}</td>
                                 <td class="text-center">{{ocnp_text_sync_table_desc}}</td>
                                 <td class="text-center">{{ocnp_text_sync_table_sync}}</td>
                              </tr>
                           </thead>
                           <tbody>
                              <tr id="syncCities" class="sync_item">
                                 <td class="text-left">{{ocnp_text_sync_table_cities}}</td>
                                 <td class="sync_item__timestamp text-center">{{ocnp_sync_table_cities_timestamp}}</td>
                                 <td class="sync_item__count text-center">{{ocnp_sync_table_cities_count}}</td>
                                 <td class="text-left">{{ocnp_text_sync_table_cities_desc}}</td>
                                 <td class="text-center">
                                    <a onclick="syncItem('syncCities')" class="sync_item__btn btn btn-success">
                                       <i class="sync_item__icon fa fa-refresh"></i>
                                    </a>
                                 </td>
                              </tr>
                              <tr id="syncAreas" class="sync_item">
                                 <td class="text-left">{{ocnp_text_sync_table_areas}}</td>
                                 <td class="sync_item__timestamp text-center">{{ocnp_sync_table_areas_timestamp}}</td>
                                 <td class="sync_item__count text-center">{{ocnp_sync_table_areas_count}}</td>
                                 <td class="text-left">{{ocnp_text_sync_table_areas_desc}}</td>
                                 <td class="text-center">
                                    <a onclick="syncItem('syncAreas')" class="sync_item__btn btn btn-success">
                                       <i class="sync_item__icon fa fa-refresh"></i>
                                    </a>
                                 </td>
                              </tr>
                              <tr id="syncWarehouses" class="sync_item">
                                 <td class="text-left">{{ocnp_text_sync_table_warehouses}}</td>
                                 <td class="sync_item__timestamp text-center">{{ocnp_sync_table_warehouses_timestamp}}</td>
                                 <td class="sync_item__count text-center">{{ocnp_sync_table_warehouses_count}}</td>
                                 <td class="text-left">{{ocnp_text_sync_table_warehouses_desc}}</td>
                                 <td class="text-center">
                                    <a onclick="syncItem('syncWarehouses')" class="sync_item__btn btn btn-success">
                                       <i class="sync_item__icon fa fa-refresh"></i>
                                    </a>
                                 </td>
                              </tr>
                           </tbody>
                        </table>
                      </div>
                  </div>
                  <div class="tab-pane fade" id="ocnp_support_tab">
                     <legend>{{ocnp_text_contacts_label}}</legend>
                     <p>
                        {{ocnp_text_contacts_text}}
                        <i class="fa fa-envelope" aria-hidden="true"></i> 
                        <a href="mailto:ocnp.novaposhta@gmail.com">ocnp.novaposhta@gmail.com</a>
                     </p>
                     <legend>{{ocnp_text_documentation_label}}</legend>
                     <p><a target="_blank" href="https://docs.google.com/document/d/1om5v8jPT8slwK7lj2RxtMdK8HhkLIZuUEj6YQEHfFMQ/edit?usp=sharing">Документація на Українській мові</a></p>
                     <p><a target="_blank" href="https://docs.google.com/document/d/1FwkAdVA1qOEMNloDS5MnIWvqYnFgr6_2d0oXF6A3PeM/edit?usp=sharing">Документация на Русском языке</a></p>
                     <p><a target="_blank" href="https://docs.google.com/document/d/1ZvclV8d4YU5d3PsHGRG9kg1XrHMkTBt4u3A-4pkWS1o/edit?usp=sharing">Documentation in English</a></p>
                  </div>
               </div>
            </form>
         </div>
      </div>
   </div>
</div>
{{footer}}