{{header}}
{{column_left}}
<div id="content">
   <div class="page-header">
      <div class="container-fluid">
         <div class="pull-right">
            <button type="submit" form="form" data-toggle="tooltip" title="{{button_save}}" class="btn btn-primary"><i class="fa fa-save"></i></button>
            <a href="{{cancel}}" data-toggle="tooltip" title="{{button_cancel}}" class="btn btn-default"><i class="fa fa-reply"></i></a>
         </div>
         <h1>{{heading_title}}</h1>
      </div>
   </div>
   <div class="container-fluid">
      {% if error_warning %} 
      <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> 
         {{error_warning}}
         <button type="button" class="close" data-dismiss="alert">&times;</button>
      </div>
      {% endif %}
      <div class="panel panel-default">
         <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-pencil"></i>{{text_edit}}</h3>
         </div>
         <div class="panel-body">
            <form action="{{action}}" method="post" enctype="multipart/form-data" id="form" class="form-horizontal">
               <ul class="nav nav-tabs">
                  <li class="nav-item active">
                     <a class="nav-link active" data-toggle="tab" href="#ocnp_main_settings">{{ocnp_text_main_settings}}</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" data-toggle="tab" href="#ocnp_api_settings">{{ocnp_text_api_settings}}</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" data-toggle="tab" href="#ocnp_sender">{{ocnp_text_sender}}</a>
                  </li>
               </ul>
               <div class="tab-content">
                  <div class="tab-pane fade active in" id="ocnp_main_settings">
                     <div class="form-group">
                        <label class="col-sm-2 control-label" for="input-field">{{entry_status}}</label>
                        <div class="col-sm-10">
                           <select class="form-control" name="shipping_ocnp_novaposhta_status">
                              {% if shipping_ocnp_novaposhta_status %}
                              <option value="1" selected="selected">{{text_enabled}}</option>
                              <option value="0">{{text_disabled}}</option>
                              {% else %}
                              <option value="1">{{text_enabled}}</option>
                              <option value="0" selected="selected">{{text_disabled}}</option>
                              {% endif %}
                           </select>
                        </div>
                     </div>
                     <div class="form-group required">
                        <label class="col-sm-2 control-label" for="input-field">{{ocnp_entry_min_total_for_free_delivery}}</label>
                        <div class="col-sm-10">
                           <input class="form-control" type="text" name="shipping_ocnp_novaposhta_min_total_for_free_delivery" value="{{shipping_ocnp_novaposhta_min_total_for_free_delivery}}" />
                           {% if error_shipping_ocnp_novaposhta_min_total_for_free_delivery %}
                           <div class="text-danger">{{error_shipping_ocnp_novaposhta_min_total_for_free_delivery}}</div>
                           {% endif %}
                        </div>
                     </div>
                     <div class="form-group">
                        <label class="col-sm-2 control-label" for="input-field">{{ocnp_entry_sort_order}}</label>
                        <div class="col-sm-10">
                           <input class="form-control" type="text" name="shipping_ocnp_novaposhta_sort_order" value="{{shipping_ocnp_novaposhta_sort_order}}" size="1" />
                        </div>
                     </div>
                  </div>
                  <div class="tab-pane fade" id="ocnp_api_settings">
                     <div class="form-group required">
                        <label class="col-sm-2 control-label" for="input-field">{{ocnp_entry_api_url}}</label>
                        <div class="col-sm-10">
                           <input class="form-control" type="text" name="shipping_ocnp_novaposhta_api_url" value="{{shipping_ocnp_novaposhta_api_url}}" />
                           {% if error_shipping_ocnp_novaposhta_api_url %}
                           <div class="text-danger">{{error_shipping_ocnp_novaposhta_api_url}}</div>
                           {% endif %}
                        </div>
                     </div>
                     <div class="form-group required">
                        <label class="col-sm-2 control-label" for="input-field">{{ocnp_entry_api_key}}</label>
                        <div class="col-sm-10">
                           <input class="form-control" type="text" name="shipping_ocnp_novaposhta_api_key" value="{{shipping_ocnp_novaposhta_api_key}}" />
                           {% if error_shipping_ocnp_novaposhta_api_key %}<div class="text-danger">{{error_shipping_ocnp_novaposhta_api_key}}</div>{% endif %}
                        </div>
                     </div>
                  </div>
                  <div class="tab-pane fade" id="ocnp_sender">
                     <div class="form-group required">
                        <label class="col-sm-2 control-label" for="input-field">{{ocnp_entry_city_from}}</label>
                        <div class="col-sm-10">
                           <select class="form-control" name="shipping_ocnp_novaposhta_city_from">
                              <option value="0">{{text_select}}</option>
                              {% for city in cities.data %}
                                 {% if city.Ref == shipping_ocnp_novaposhta_city_from %}
                                    <option value="{{city.Ref}}" selected="selected">
                                    {% if admin_language_id == ua %}
                                       {{city.Description}}
                                    {% else %}
                                       {{city.DescriptionRu}}
                                    {% endif %}
                                    </option>
                                 {% else %}
                                    <option value="{{city.Ref}}">
                                    {% if admin_language_id == 'ua' %}
                                       {{city.Description}}
                                    {% else %}}
                                       {{city.DescriptionRu}}
                                    {% endif %}
                                 {% endif %}
                                 </option>
                              {% endfor %}
                           </select>
                           {% if shipping_ocnp_novaposhta_city_from %}
                           <div class="text-danger">{{shipping_ocnp_novaposhta_city_from}}</div>
                           {% endif %}
                        </div>
                     </div>
                  </div>
               </div>
            </form>
         </div>
      </div>
   </div>
</div>
{{footer}}